:root{
    --azul-escuro:#1c415c;
    --azul-medio: #256783;
    --amarelo:#eebe2a;
    --amarelo-botao:#ffd24a;
    --marrom-botao:#7d5e00;
    --preto:#1a1b1f;
    --cinza:#4b4d4d;
    --cinza-fundo:#f1f1f1;
    --cinza-disclaimer:#e1e1e1;
    --branco: #fff;
}