@use "../abstracts/mixins";

.footer {
  @include mixins.section;
  padding: 2.5rem 1.02rem;

  &__container {
    @include mixins.container;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: 1rem;

    @media screen and (max-width: 771px) {
      justify-content: center;
    }

    @media screen and (max-width: 480px) {
      flex-flow:column;
    }
  }

  &__logo{
    width:4rem;
    height:auto;
  }

  &__link {
    font-size: 1.6rem;
    color: var(--cinza);
    text-decoration: none;
  }

  &__texto {
    font-size: 1.6rem;
    color: var(--cinza);
  }

  @media screen and (max-width: 480px) {
     
      &__texto {
    display:none;
  }
    }

}
