@use "../abstracts/mixins";

.caixa-jornada {
  @include mixins.reset;
  @include mixins.flex($flow: column, $gap: 2.76rem);
  position: relative;
  background-color: var(--cinza-fundo);
  border-radius: 2.5rem;
  box-shadow: inset 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.336);
  padding: 3.8rem 3rem;
  width: 55rem;
  max-width:100%;
  align-self:start;

  &__logo-div {
    @include mixins.flex(center, center);
    position: absolute;
    top: 0;
    right: 0;
    width: 6.5rem;
    height: 6.5rem;
    padding: 1rem;
    background-color: var(--branco);
    border-radius: 50%;
    transform: translate(30%, -30%);
    box-shadow: inset 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.164);
  }

  &__logo {
    width: 100%;
  }

  &__div-titulo {
    @include mixins.flex(center, center, column, 1.11rem);
    text-align: center;
  }

  &__titulo {
    font-size: 4.88rem;
    color: var(--azul-escuro);
  }

  &__subtitulo {
    font-size: 2.5rem;
    color: var(--cinza);
  }

  &__lista {
    @include mixins.flex(center, center, column, 1.5rem);
    list-style: none;
    font-size: 1.92rem;
  }

  &__lista-item {
    @include mixins.flex(center, start, row, 0.8rem);
    width: 45rem;
    max-width:100%;
  }

  &__check {
    width: 1.8rem;
  }

  &__negrito {
    font-weight: 600;
  }

  &__online {
    font-size: 2.76rem;
    color: var(--preto);
    text-align: center;
  }

  &__botao {
    @include mixins.button;
  }

  &__Lira {
    width: 80rem;
    max-width: 100%;
    margin: 0 -12rem;
    align-self: end;
  }


  @media screen and (max-width:771px){
      align-self:center;
      gap: 4rem;

      &__Lira {
    align-self: center;
    width:55rem;
    max-width: 100%;

  }
  }

  @media screen and (max-width:480px){

    &__titulo {
    font-size: 3.32rem;
  }
      &__Lira {
    max-width: 100%;
  }
  }
}
