@use "../abstracts/mixins";

.caixa-passos{
    @include mixins.reset;
    @include mixins.grid(repeat(3, 1fr), repeat(2, 1fr), 2rem);
    row-gap: 7rem;
    
    &__passo{
        @include mixins.flex( center,start, column, 2rem);

    }

    &__cabecalho{
        @include mixins.flex(center, center, row, .65rem);

    }

    &__fundo-imagem{
        @include mixins.flex(center, center);
        background-color: var(--azul-medio);
        width: 4.3rem;
        height: 4.3rem;
        padding: .82rem;
        border-radius: 1rem;
    }

    &__icone{
        max-width:100%;
    }

    &__subtitulo{
        font-size: 2.76rem;
        line-height: 1.2;
        color: var(--azul-medio);
    }

    &__texto{
        font-size:1.6rem;
        line-height: 1.5;

        &--negrito{
            font-weight:600;
        }
    }
    
    &__img-lira{
        grid-row: 1/3;
        grid-column: 2;
        width: 100%; 
        align-self: center;
    }

    @media screen and (max-width: 771px) {
      @include mixins.grid(repeat(2, 1fr), repeat(2, 1fr) auto, 2rem);
    row-gap: 3rem;
      
        &__img-lira{
        grid-column: 1/3;
        grid-row: 3;
        width:30rem;
        max-width: 100%;
        justify-self: center;
    }
    }

    @media screen and (max-width: 480px) {
      @include mixins.grid(1fr, repeat(4, 1fr) auto, 2rem);
    row-gap: 3rem;

    &__img-lira{
        grid-column: 1;
        grid-row: 5;
    }
    }
}