@use "../abstracts/mixins";



.popup {
display:none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.877);
  backdrop-filter: blur(3px);
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &__caixa {
    @include mixins.flex(start, center, column, 1rem);
    background-color: white;
    position: relative;
    padding: 4rem;
    border-radius: 2rem;
    box-shadow: inset 0 0 0.8rem 0.4rem rgba(0, 0, 0, 0.116);
    min-width: 30%;
    max-width:90%;

  }

  &__fechar {
    @include mixins.flex(center, center);
    background-color: var(--amarelo);
    color: white;
    border: solid 2px var(--marrom-botao);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(20%, -20%);
    height: 3rem;
    width: 3rem;
    font-size: 1.33rem;
    font-weight: 700;
    border-radius: 50%;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__form {
    @include mixins.flex(center, stretch, column, 1rem);
    width: 100%;
  }

  &__input {
    padding: 1rem;
    border-radius: 2rem;
    border: solid 2px var(--amarelo);
    font-weight: 600px;
    font-size: 1.6rem;

    &:focus-visible{
      outline:none;
    }
  }

  &__botao {
    @include mixins.button;
    width: 100%;
    margin-top: 1rem;
  }
}

.body--popup {
  & .popup {
    @include mixins.flex(center, center);
  }
  overflow:hidden;
}